@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Form.cshtml";
}

<form id="form1">
    <div style="padding-top: 10px; margin: 2px;">
        <div class="tabbable-custom ">
            <ul class="nav nav-tabs ">
                <li class="active">
                    <a href="#BaseInfo" data-toggle="tab"> 经验信息 </a>
                </li>
                <li>
                    <a href="#" data-toggle="tab"> 处理前照片集 </a>
                </li>
                <li>
                    <a href="#" data-toggle="tab"> 处理后照片集 </a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="BaseInfo">
                    <table class="form">
                        <tr style="display:none;">
                            <th class="formTitle">设备ID</th>
                            <td class="formValue">
                                <input id="FItemId" name="FItemId" type="text" class="form-control" placeholder="请输入名称" />
                            </td>
                            <th class="formTitle">设备类型ID</th>
                            <td class="formValue">
                                <input id="FEquipTypeId" name="FEquipTypeId" type="text" class="form-control required" placeholder="请输入编号" />
                            </td>
                            <th class="formTitle">经验ID</th>
                            <td class="formValue">
                                <input id="FId" name="FId" type="text" class="form-control" placeholder="请输入编号" />
                            </td>
                        </tr>
                        <tr>
                            <th class="formTitle">名称</th>
                            <td class="formValue">
                                <input id="FShortName" name="FShortName" type="text" class="form-control required" placeholder="请输入名称" />
                            </td>
                            <th class="formTitle">编号</th>
                            <td class="formValue">
                                <input id="FNumber" name="FNumber" type="text" class="form-control required" placeholder="请输入编号" />
                            </td>
                            <th class="formTitle">所属部门</th>
                            <td class="formValue">
                                <select id="FOrganizeId" name="FOrganizeId" class="form-control required">
                                    <option value="">==请选择==</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th class="formTitle">作业类型</th>
                            <td class="formValue">
                                <select id="FOperationTypeId" name="FOperationTypeID" class="form-control required">
                                    <option value="">==请选择==</option>
                                </select>
                            </td>
                            <th class="formTitle">作业级别</th>
                            <td class="formValue">
                                <select id="FOperationLevelId" name="FOperationLevelId" class="form-control required">
                                    <option value="">==请选择==</option>
                                </select>
                            </td>
                            <th class="formTitle">故障原因类型</th>
                            <td class="formValue">
                                <select id="FMalfunctionReasonId" name="FMalfunctionReasonId" class="form-control required">
                                    <option value="">==请选择==</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th class="formTitle">故障类型</th>
                            <td class="formValue">
                                <select id="FMalfunctionType" name="FMalfunctionType" class="form-control required">
                                    <option value="">==请选择==</option>
                                </select>
                            </td>
                            <th class="formTitle">故障摘要</th>
                            <td class="formValue" colspan="3">
                                <input id="FMalfunctionSummary" name="FMalfunctionSummary" type="text" class="form-control" placeholder="故障摘要"/>
                            </td>
                        </tr>
                        <tr>
                            <th class="formTitle">故障描述</th>
                            <td class="formValue" colspan="5">
                                <textarea id="FMalfunctionDetail" name="FMalfunctionDetail" type="text" class="form-control required" placeholder="故障详情描述" style="height: 70px;"></textarea>
                            </td>

                        </tr>
                        <tr>
                            <th class="formTitle">故障原因明细</th>
                            <td class="formValue" colspan="5">
                                <textarea id="FMalfunctionReason" name="FMalfunctionReason" type="text" class="form-control required" placeholder="故障发生原因" style="height: 70px;"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <th class="formTitle">作业摘要</th>
                            <td class="formValue" colspan="5">
                                <input id="FOperationSummary" name="FOperationSummary" type="text" class="form-control required" placeholder="故障处理简述" />
                            </td>

                        </tr>
                        <tr>
                            <th class="formTitle">作业描述</th>
                            <td class="formValue" colspan="5">
                                <textarea id="FOperationDetail" name="FOperationDetail" type="text" class="form-control" placeholder="故障修复详细说明"  style="height: 80px;"></textarea>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

    </div>
</form>

<script type="text/javascript" src="~/Areas/SystemDocument/Scripts/ExpWare/Form.js"></script>