@{
    ViewBag.Title = "OrgAuthorize";
    Layout = "~/Views/Shared/_Form.cshtml";
}

<div style="margin: 10px;">
    <div id="itemTree"></div>
</div>

<script src="~/Areas/SystemDocument/Scripts/User/OrgAuthorize.js"></script>