@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<style type="text/css">
    .table-responsive {
        border-left: 0px;
        border-right: 0px;
        border-bottom: 0px !important;
    }
</style>
<script>
    $(function () {
        $('#layout').layout();
        treeView();
        gridList();
    });
    function treeView() {
        $("#itemTree").treeview({
            url: "/SystemDocument/Organize/GetTreeJson",
            onnodeclick: function (item) {
                $("#txt_keyword").val('');
                $('#btn_search').trigger("click");
            }
        });
    }
    function gridList() {
        var $gridList = $("#gridList");
        $gridList.dataGrid({
            url: "/SystemDocument/OperationClass/GetSelectJson",
            height: $(window).height() - 128,
            colModel: [
                { label: '主键', name: 'FId', hidden: true },
                {
                    label: '部门', name: 'FBelongOrgID', width: 80, align: 'left',
                    formatter: function (cellvalue, options, rowObject) {
                        return top.clients.organize[cellvalue] == null ? "" : top.clients.organize[cellvalue].fullname;
                    }
                },
                { label: '编号', name: 'FNumber', width: 80, align: 'left' },
                { label: '名称', name: 'FShortName', width: 80, align: 'left' },

                {
                    label: '创建时间', name: 'FCreatorTime', width: 80, align: 'left',
                    formatter: "date", formatoptions: { srcformat: 'Y-m-d', newformat: 'Y-m-d' }
                },
                { label: '工作内容', name: 'FOperationContent', width: 200, align: 'left' }
            ],
            pager: "#gridPager",
            sortname: 'FBelongOrgID asc,FCreatorTime desc',
            viewrecords: true
        });
        $("#btn_search").click(function () {
            $gridList.jqGrid('setGridParam', {
                postData: {itemId: $("#itemTree").getCurrentNode().id, keyword: $("#txt_keyword").val() },
            }).trigger('reloadGrid');
        });
    }
    function btn_add() {
        $.modalOpen({
            id: "Form",
            title: "新增班组",
            url: "/SystemDocument/OperationClass/Form",
            width: "600px",
            height: "450px",
            callBack: function (iframeId) {
                top.frames[iframeId].submitForm();
            }
        });
    }
    function btn_edit() {
        var keyValue = $("#gridList").jqGridRowValue().FId;
        $.modalOpen({
            id: "Form",
            title: "修改班组",
            url: "/SystemDocument/OperationClass/Form?keyValue=" + keyValue,
            width: "700px",
            height: "550px",
            callBack: function (iframeId) {
                top.frames[iframeId].submitForm();
            }
        });
    }
    function btn_delete() {
        $.deleteForm({
            url: "/SystemDocument/OperationClass/DeleteForm",
            param: { keyValue: $("#gridList").jqGridRowValue().FId },
            success: function () {
                $.currentWindow().$("#gridList").trigger("reloadGrid");
            }
        })
    }
    function btn_details() {
        var keyValue = $("#gridList").jqGridRowValue().FId;
        $.modalOpen({
            id: "Details",
            title: "查看班组",
            url: "/SystemDocument/OperationClass/Details?keyValue=" + keyValue,
            width: "720px",
            height: "550px",
            btn: null,
        });
    }
    function btn_disabled() {
        var keyValue = $("#gridList").jqGridRowValue().FId;
        $.modalConfirm("注：您确定要【禁用】该班组吗？", function (r) {
            if (r) {
                $.submitForm({
                    url: "/SystemDocument/OperationClass/DisabledOperationClass",
                    param: { keyValue: keyValue },
                    success: function () {
                        $.currentWindow().$("#gridList").trigger("reloadGrid");
                    }
                })
            }
        });
    }
    function btn_enabled() {
        var keyValue = $("#gridList").jqGridRowValue().FId;
        $.modalConfirm("注：您确定要【启用】该项班组吗？", function (r) {
            if (r) {
                $.submitForm({
                    url: "/SystemDocument/OperationClass/EnabledOperationClass",
                    param: { keyValue: keyValue },
                    success: function () {
                        $.currentWindow().$("#gridList").trigger("reloadGrid");
                    }
                })
            }
        });
    }
</script>

<div class="ui-layout" id="layout" style="height: 100%; width: 100%;">
    <div class="ui-layout-west">
        <div id="itemTree"></div>
    </div>
    <div class="ui-layout-center">
        <div class="topPanel">
            <div class="toolbar">
                <div class="btn-group">
                    <a class="btn blue" onclick="$.reload()"><span class="glyphicon glyphicon-refresh"></span></a>
                </div>
                <div class="btn-group">
                    <a id="NF-add" authorize="yes" class="btn blue dropdown-text" onclick="btn_add()"><i class="fa fa-plus"></i>新建班组</a>
                </div>
                <div class="operate">
                    <ul class="nav nav-pills">
                        <li class="first">已选中<span>1</span>项</li>
                        <li><a id="NF-edit" authorize="yes" onclick="btn_edit()"><i class="fa fa-pencil-square-o"></i>修改班组</a></li>
                        <li><a id="NF-delete" authorize="yes" onclick="btn_delete()"><i class="fa fa-trash-o"></i>删除班组</a></li>
                        <li><a id="NF-Details" authorize="yes" onclick="btn_details()"><i class="fa fa-search-plus"></i>查看班组</a></li>
                        <li class="split"></li>
                        <li><a id="NF-revisepassword" authorize="yes" onclick="btn_revisepassword()"><i class="fa fa-key"></i>密码重置</a></li>
                        <li class="split"></li>
                        <li><a id="NF-disabled" authorize="yes" onclick="btn_disabled()"><i class="fa fa-stop-circle"></i>禁用</a></li>
                        <li><a id="NF-enabled" authorize="yes" onclick="btn_enabled()"><i class="fa fa-play-circle"></i>启用</a></li>
                    </ul>
                    <a href="javascript:;" class="close"></a>
                </div>
                <script>$('.toolbar').authorizeButton()</script>
            </div>
            <div class="search">
                <table>
                    <tr>
                        <td>
                            <div class="input-group">
                                <input id="txt_keyword" type="text" class="form-control" placeholder="编号/名称" style="width: 200px;">
                                <span class="input-group-btn">
                                    <button id="btn_search" type="button" class="btn blue"><i class="fa fa-search"></i></button>
                                </span>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="gridPanel">
            <table id="gridList"></table>
            @*<div id="gridPager"></div>*@
        </div>
    </div>
</div>