@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script src="~/Areas/SystemDocument/Scripts/Equipment/Form.js"></script>

<form id="form1">
        <div style="padding-top: 10px; margin: 2px;">
            <div class="tabbable-custom ">
                <ul class="nav nav-tabs ">
                    <li class="active">
                        <a href="#BaseInfo" data-toggle="tab"> 基本信息 </a>
                    </li>
                    <li>
                        <a href="#UseInfo" data-toggle="tab"> 使用维护 </a>
                    </li>
                    <li>
                        <a href="#Parts" data-toggle="tab"> 部位管理 </a>
                    </li>
                    <li>
                        <a href="#EnergyItem" data-toggle="tab"> 能源项目 </a>
                    </li>
                    <li>
                        <a href="#Files" data-toggle="tab"> 设备文档 </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="BaseInfo">
                        <table class="form">
                            <tr>
                                <th class="formTitle">名称</th>
                                <td class="formValue">
                                    <input id="FShortName" name="FShortName" type="text" class="form-control required" placeholder="请输入名称" />
                                </td>
                                <th class="formTitle">图号</th>
                                <td class="formValue">
                                    <input id="FFigure" name="FFigure" type="text" class="form-control" />
                                </td>
                                <th class="formTitle">加工产品</th>
                                <td class="formValue">
                                    <input id="FGood" name="FGood" type="text" class="form-control" />
                                </td>
                            </tr>
                            <tr>
                                <th class="formTitle">编号</th>
                                <td class="formValue">
                                    <input id="FNumber" name="FNumber" type="text" class="form-control required" placeholder="请输入编号" />
                                </td>
                                <th class="formTitle">通用编号</th>
                                <td class="formValue">
                                    <input id="FCode" name="FCode" type="text" class="form-control required" placeholder="请输入通用编号" />
                                </td>
                                <th class="formTitle">序列号</th>
                                <td class="formValue">
                                    <input id="FSerialNo" name="FSerialNo" type="text" class="form-control" />
                                </td>
                            </tr>
                            <tr>
                                <th class="formTitle">规格</th>
                                <td class="formValue">
                                    <input id="FStandard" name="FStandard" type="text" class="form-control" />
                                </td>
                                <th class="formTitle">型号</th>
                                <td class="formValue">
                                    <input id="FModel" name="FModel" type="text" class="form-control" />
                                </td>

                                <th class="formTitle">设备类别</th>
                                <td class="formValue">
                                    <select id="FCategory" name="FCategory" class="form-control required">
                                        <option value="">==请选择==</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th class="formTitle">制造商</th>
                                <td class="formValue">
                                    <input id="FManufacturer" name="FManufacturer" type="text" class="form-control" />
                                </td>
                                <th class="formTitle">供应商</th>
                                <td class="formValue">
                                    <input id="FSupply" name="FSupply" type="text" class="form-control" />
                                </td>
                                <th class="formTitle">计量单位</th>
                                <td class="formValue">
                                    <select id="FUnit" name="FUnit" class="form-control required">
                                        <option value="">==请选择==</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th class="formTitle">设备状态</th>
                                <td class="formValue">
                                    <select id="FStatus" name="FStatus" class="form-control required">
                                        <option value="">==请选择==</option>
                                    </select>
                                </td>
                                <th class="formTitle">购置日期</th>
                                <td class="formValue">
                                    <input id="FBuyDate" name="FBuyDate" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker()" />
                                </td>
                                <th class="formTitle">出厂日期</th>
                                <td class="formValue">
                                    <input id="FReleaseDate" name="FReleaseDate" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker()" />
                                </td>
                            </tr>
                            <tr>

                                <th class="formTitle">资产原值</th>
                                <td class="formValue">
                                    <input id="FOrgVal" name="FOrgVal" type="text" class="form-control required" />
                                </td>
                                <th class="formTitle">净残率%</th>
                                <td class="formValue">
                                    <input id="FSalvageRate" name="FSalvageRate" type="text" class="form-control required" />
                                </td>
                                <th class="formTitle">折旧年限</th>
                                <td class="formValue">
                                    <input id="FYearLife" name="FYearLife" type="text" class="form-control required" />
                                </td>
                            </tr>
                            <tr>

                                <th class="formTitle">ABC分类</th>
                                <td class="formValue">
                                    <select id="FABC" name="FABC" class="form-control required">
                                        <option value="">==请选择==</option>
                                    </select>
                                </td>

                                <th class="formTitle" style="height: 35px;">选项</th>
                                <td class="formValue" style="padding-top: 1px;">
                                    <div class="ckbox">
                                        <input id="FEnabledMark" name="FEnabledMark" type="checkbox" checked="checked"><label for="FEnabledMark">有效</label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th class="formTitle" valign="top" style="padding-top: 5px;">
                                    备注
                                </th>
                                <td class="formValue" colspan="5">
                                    <textarea id="FDescription" name="FDescription" class="form-control" style="height: 60px;"></textarea>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="tab-pane" id="UseInfo">
                        <table class="form">
                            <tr>
                                <th class="formTitle">所属部门</th>
                                <td class="formValue">
                                    <select id="FBelongOrgID" name="FBelongOrgID" class="form-control required">
                                        <option value="">==请选择==</option>
                                    </select>
                                </td>
                                <th class="formTitle">使用部门</th>
                                <td class="formValue">
                                    <select id="FUseOrgID" name="FUseOrgID" class="form-control required">
                                        <option value="">==请选择==</option>
                                    </select>
                                </td>
                                <th class="formTitle">安装位置</th>
                                <td class="formValue">
                                    <select id="FPositionID" name="FPositionID" class="form-control required">
                                        <option value="">==请选择==</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>

                                <th class="formTitle">维护部门</th>
                                <td class="formValue">
                                    <select id="FManuOrgID" name="FManuOrgID" class="form-control required">
                                        <option value="">==请选择==</option>
                                    </select>
                                </td>
                                <th class="formTitle">维护班组</th>
                                <td class="formValue">
                                    <select id="FManuClassID" name="FManuClassID" class="form-control">
                                        <option value="">==请选择==</option>
                                    </select>
                                </td>
                                <th class="formTitle">维护负责人</th>
                                <td class="formValue">
                                    <select id="FManuPrincipalID" name="FManuPrincipalID" class="form-control">
                                        <option value="">==请选择==</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th class="formTitle">保修截止日</th>
                                <td class="formValue">
                                    <input id="FGuaranteeTime" name="FGuaranteeTime" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker()" />
                                </td>

                                <th class="formTitle">操作人员</th>
                                <td class="formValue">
                                    <select id="FOperatorID" name="FOperatorID" class="form-control">
                                        <option value="">==请选择==</option>
                                    </select>
                                </td>
                                <th class="formTitle">电机数量</th>
                                <td class="formValue">
                                    <input id="FMachineCount" name="FMachineCount" type="text" class="form-control" />
                                </td>
                            </tr>
                            <tr>
                                <th class="formTitle">功率(Kw/h)</th>
                                <td class="formValue">
                                    <input id="FPower" name="FPower" type="text" class="form-control" />
                                </td>
                                <th class="formTitle">精度状况</th>
                                <td class="formValue">
                                    <select id="FAccuracy" name="FAccuracy" class="form-control">
                                        <option value="">==请选择==</option>
                                    </select>
                                </td>

                            </tr>
                            <tr>
                                <th class="formTitle">启用日期</th>
                                <td class="formValue">
                                    <input id="FUseDate" name="FUseDate" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker()" />
                                </td>
                                <th class="formTitle">设备二维码</th>
                                <td class="formValue" colspan="3">
                                    <input id="FQRCode" name="FQRCode" type="text" class="form-control" />
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="tab-pane" id="Parts">
                        <p> Howdy, I'm in Section 2. </p>
                        <p>
                            Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie
                            consequat. Ut wisi enim ad minim veniam, quis nostrud exerci tation.
                        </p>
                        <p>
                            <a class="btn green" href="ui_tabs_accordions_navs.html#tab_5_2" target="_blank"> Activate this tab via URL </a>
                        </p>
                    </div>
                    <div class="tab-pane" id="EnergyItem">
                        <table class="form">
                            <tr>
                                <th class="formTitle" style="height: 35px;">选项</th>
                                <td class="formValue" style="padding-top: 1px;">
                                    <div class="ckbox">
                                        <input id="FIsSingleMeasurement" name="FIsSingleMeasurement" type="checkbox"><label for="FIsSingleMeasurement">单独计量</label>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="tab-pane" id="Files">
                        <p> Howdy, I'm in Section 3. </p>

                        <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
                        <div class="row fileupload-buttonbar">
                            <div class="col-lg-7">
                                <!-- The fileinput-button span is used to style the file input field as button -->
                                <span class="btn green fileinput-button">
                                    <i class="fa fa-plus"></i>
                                    <span> Add files... </span>
                                    <input type="file" name="files[]" multiple="">
                                </span>
                                <button type="submit" class="btn blue start">
                                    <i class="fa fa-upload"></i>
                                    <span> Start upload </span>
                                </button>
                                <button type="reset" class="btn warning cancel">
                                    <i class="fa fa-ban-circle"></i>
                                    <span> Cancel upload </span>
                                </button>
                                <button type="button" class="btn red delete">
                                    <i class="fa fa-trash"></i>
                                    <span> Delete </span>
                                </button>
                                <input type="checkbox" class="toggle">
                                <!-- The global file processing state -->
                                <span class="fileupload-process"> </span>
                            </div>
                            <!-- The global progress information -->
                            <div class="col-lg-5 fileupload-progress fade">
                                <!-- The global progress bar -->
                                <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                                    <div class="progress-bar progress-bar-success" style="width:0%;"> </div>
                                </div>
                                <!-- The extended global progress information -->
                                <div class="progress-extended"> &nbsp; </div>
                            </div>
                        </div>
                        <!-- The table listing the files available for upload/download -->
                        <table role="presentation" class="table table-striped clearfix">
                            <tbody class="files"> </tbody>
                        </table>

                    </div>
                </div>
            </div>

        </div>
    </form>
